*{
    font-family: sans-serif;
}
.title{
    text-align: center;
}
.form-container{
    display: flex;
    gap: 50px;
}
.form{
    width: 40%;
    padding: 20px;
    border: 1px solid black;
}
label,form>div>p{
    font-size: 13px;
    font-weight: bold;
}
input{
    border-radius: 6px;
}
input:not(input[type ='file'],input[type ='checkbox'],input[type ='radio'],input[type ='submit']),.form>form>div:nth-of-type(4)>div>select{
    border: 2px solid black;
    width: 100%;
    padding: 5px 0px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}
input[type ='checkbox']{
    width: 15px;
    height: 15px;
}
.form>form>div:nth-of-type(1),.form>form>div:nth-of-type(4),.form>form>div:nth-of-type(5){
    display: flex;
    gap: 50px;
}
.form>form>div:nth-of-type(1)>div,.form>form>div:nth-of-type(4)>div,.form>form>div:nth-of-type(5)>div{
    width: 50%;
}
.form>form>div:nth-child(2)>input,.form>form>div:nth-of-type(4)>div,.form>form>div:nth-of-type(5)>div>input{
    width: 100%;
}
.form>form>div:nth-of-type(5)>div>input[type='file']{
    padding: 5px 0px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.form>form>div:nth-of-type(6),.form>form>div:nth-of-type(7){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form>form>div:nth-of-type(6)>div{
    display: flex;
    align-items: center;
}
input[type ='submit']{
    width: 100%;
    padding: 7px;
    font-size: 20px;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
}

